.logo {
    width: 80px;
    height: 80px;
}

.mainContainer {
    width: 90vw;
    margin: 0 auto 20px auto;
    align-items: center;
}

.primaryControls {
    display: flex;
    align-items: center;
}

.optionButton {
    height: 40px;
    margin: 0;
    margin-bottom: 1rem !important;
}

.controlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlsContainer * {
    flex-basis: 12%;
}

.inputField {
    width: 60;
    height: 40px;
    align-self: center;
    margin: 0 10px 0 10px;
}

.inputAppend {
    height: inherit;
}

.orientationSelect {
    margin: 5px;
}
.organization {
    composes: orientationSelect;
}

.numberOfItem {
    composes: orientationSelect;
}

@media only screen and (max-width: 600px) {
    .mainContainer {
        flex-direction: column;
        width: 95vw;
        justify-content: flex-start;
    }

    .controlsContainer {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }

    .inputAppend {
        display: none !important;
    }

    .formGroup1 {
        width: 30vw;
        margin: 0 3px 0 3px;
        font-size: 0.7em;
    }
    .formGroup2 {
        width: 30vw;
        margin: 0 3px 0 3px;
        font-size: 0.7em;
    }
    .formGroup3 {
        width: 30vw;
        margin: 0 3px 0 3px;
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 768px) {
}
